{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ category.label }}</td>
            </tr>
        </tbody>
    </table>

    {% for article in category.articles %}

        <div>
            <h3>{{article.title}}</h3>
            <a href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
        </div>

    {% endfor %}

    <a href="{{ path('app_category_index') }}">Revenir à la liste</a>

    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Éditer</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
