<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% if app.user %}

        <div class="mb-3">
            Vous êtes bien connecté en tant que {{ app.user.pseudo }}
        </div>
        <div class="mb-3">
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
        <div class="mb-3">
            <a href="{{ path('app_address_index') }}">Mes addresses</a>
        </div>
        <div class="mb-3">
            <a href="{{ path('app_annonce_index') }}">Mes annonces</a>
        </div>
        <div class="mb-3">
            <a href="{{ path('app_article_index') }}">Mes articles</a>
        </div>


    {% else %}

        <div class="mb-3">
            <a href="{{ path('app_register') }}">S'inscrire</a>
        </div>
         <div class="mb-3">
            <a href="{{ path('app_login') }}">Se connecter</a>
        </div>

    {% endif %}
    <div class="mb-3">
        <a href="{{ path('app_category_index') }}">Catégories</a>
    </div>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
