{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.zip }}</td>
                <td>
                    <a href="{{ path('app_address_show', {'id': address.id}) }}">Voir</a>
                    <a href="{{ path('app_address_edit', {'id': address.id}) }}">Modifier</a>
                     {{ include('address/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_address_new') }}">Créer une nouvelle adresse</a>
{% endblock %}
